img {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
}

.list-item__indent {
    padding-left: 40px;
}

ol>a,
ul>a {
    text-decoration: none;
}

p.p {
    font-family: 'Mukta';
    line-height: 1.8em;
    font-size: 1.2em;
    margin: 20px 0px;
    padding: 0 8px;
}


.li{
    margin: 4px 32px;
    padding: 4px 8px;
    list-style: disc;

    span {
        color: var(--accent);
        transition: color 500ms;

        &.text {
            color: inherit;
            padding-bottom: 3px;
            border-bottom: 2px solid #f6808044;
            transition: border-color 350ms;
        }
    }

    &:hover>span {
        color: var(--accent-alt);

        &.text {
            border-color: var(--accent-alt);
        }
    }
}

.italicize {
    font-style: italic;
    font-size: 1.1rem;
}

.table {
    max-width: 100%;
    overflow-y: scroll;
}


pre {
    white-space: break-spaces;
}

.blockquote {
    font-size: 0.9em;
    padding: 20px 40px;
    background-color: var(--bg-card);
    transition: background-color 350ms;
}

.bolded {
    font-weight: bold;
    color: var(--accent);
}
