.container {
    position: sticky;
    top: 150px;
    margin: 0;
    background-color: transparent;
    transition: margin 250ms;

    &.pinned {
        margin-left: calc(-50vw + 100px);
        max-width: 50vw;
    }
}
