.container {
    display: grid;
    gap: 20px;

    & h2 {
        font-size: 2em;
        font-weight: bold;
    }

    & ul {
        & li {
            margin: 10px 0 10px 20px;
            list-style-type: disc;
            
            & a {
                text-decoration: none;
                color: white;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
