.container {
    box-sizing: border-box;
    height: 74px;
    position: fixed;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    place-content: center;
    padding: 0 18px;
    gap: 20px;
    z-index: 100;

    & .home {
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
        text-decoration: none;

        & .title {
            font-family: "Hyperwave";
            font-size: 2.3em;
            display: grid;
            place-content: center;
            color: var(--accent);
        }
    }
    

    & img {
        height: 36px;
        width: auto;
        object-fit: contain;
    }

    & .tabs {
        display: grid;
        grid-auto-flow: column;

        & .tab {
            border: 2px solid transparent;
            border-radius: 2px;
            text-decoration: none;
            color: gray;
            transition: border-color 250ms, color 250ms;
            width: max-content;
            display: grid;
            place-content: center;
            padding: 12px;
            font-size: 0.86em;
            text-transform: uppercase;
            font-weight: bold;


            &:hover {
                color: white;
                border-color: #333;
            }
        }
    }
}
