.file {
    white-space: pre-wrap;
    font-family: "Source Sans Pro";
    background-color: var(--card);
    padding: 20px;
    border-radius: 8px;
    color: var(--text);
    line-height: 1.21em;

    h3 {
        color: var(--accent);
        padding: 5px 5px 20px;
        font-weight: bold;
    }
}


.code {
    margin: 20px 0 20px 0;
    border-radius: 8px;
    background-color: var(--card);
    overflow: hidden;

    .title {
        display: grid;
        grid-template-columns: 100px 1fr;
        h3 {
            font-size: 1rem;
            font-family: 'Source Sans Pro', sans-serif;
            padding-top: 13px;
            font-weight: bold;
            color: var(--text);
        }

        circle {
            cursor: pointer !important;
        }
    }
    .editor {
        padding: 0px 10px 20px 10px;

        &:active {
            outline: none;
        }
    }
}

.icon {
    fill: #00000000;
    transition: fill 350ms;

    &.hovered {
        fill: rgb(71, 71, 71);
    }
}

.inline { 

}
