.template-about--wrapper {
    padding-top: 15vh;
    & .hero {
        display: grid;
        place-content: center;
        row-gap: 100px;
        & > section {
            display: grid;
            row-gap: 40px;
            & > h1 { 
                color: var(--accent);
                font-family: 'Raleway';
                font-size: 5em;
            }
            & > h2 {
                color: var(--accent);
                font-family: 'Raleway';
                font-size: 2em;
            }
            & > h3 {
                color: var(--accent);
                font-family: 'Raleway';
                font-size: 1.5em;
            }
            & > p {
                font-size: 1.3em;
                line-height: 1.5em;
                font-family: 'Source Sans Pro';
                &.description {
                    font-size: 1.1em;
                    line-height: 1.3em;
                }
                & > span {
                    font-family: 'Raleway';
                    font-size: 1.1em;
                    color: var(--accent-alt);
                    font-style: italic;
                }
            }
        }
        & > div > button {
            display: block;
            padding: 20px 50px 20px 62px;
            margin: 50px auto 0 auto;
            font-size: 1.3em;
            & > a {
                text-decoration: none;
                &:hover {
                    color: var(--accent);
                }
            }
        }
    }
}