:root {
    --background: white;
    --card-background: white;
    --text-color: black;
}
* {
    margin: 0;
}
body {
    display: grid;
    height: 100vh;
    width: 100vw;
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--background);
    color: var(--text-color);
    transition: background-color 500ms, color 500ms;
}
button{
    position: absolute;
    top: 20px;
    right: 20px;
    height: 50px;
    width: 200px;
    border-radius: 4px;
}
hr {
    margin: 15px 0px 20px;
    color: #f0f;
}
.card {
    place-self: center;
    max-width: 300px;
    padding: 30px 20px;
    border-radius: 4px;
    box-shadow: 0 0 5px black;
    background-color: var(--card-background);
    transition: background-color 500ms;
}
