
.container {
    color: var(--text);
    text-decoration: none;
    display: grid;
    row-gap: 8px;
    padding: 16px;
    border-radius: 4px;
    transition: background-color 250ms;

    &.selected {
        background-color: var(--background);
        &>.summary {
            color: white;
        }
    }

    &:hover {
        background-color: var(--background);
        
        &>.summary {
            color: white;
        }
    }

    &>.title {
        font-size: 1.4em;
        font-weight: bold;
        color: var(--accent);
        transition: color 250ms;
    }
    &>.summary {
        color: grey;
    }

    &>.tags {
        padding: 8px 0 0;

        &>.tag {
            display: inline-block;
            padding: 4px 6px;
            margin: 0 8px 8px 0;
            background-color: #252a3b;
            border-radius: 4px;
        }
    }
}
