.lesson-w{
    background-color: #272727;
    overflow-y: scroll;
    & .video-w{
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        & iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    & .vid-info--w{
        height: 80px;
        color: black;
        background-color: white;
        width: 100%;
        &.title{
            font-size: 1rem;
        }
    }
}
