body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: grid;
    place-content: center;
    background-color: #151515;
}

button { 
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 0 auto;
}

#display {
    color: white;
    font-family: 'Nunito', sans-serif;
}