form.add-form {
    width: calc(100vw - 80px);
    max-width: 900px;
    margin: 0 auto;
    padding: 80px 0px;
    display: grid;
    row-gap: 20px;
}

form.add-form h3 {
    font-size: 2em;
}
form.add-form button.upload {
    font-size: 2.3em;
    width: min-content;
    padding: 0px 30px 5px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #7700ff;
    margin-left: auto;
    transition: background-color 150ms;
}
form.add-form button.upload:hover {
    background-color: #7700ffcc;
}
form.add-form ol {
    margin: 0px;
}
form.add-form li::marker {
    line-height: 20rem;
    font-size: 1.5rem;
}
form.add-form li > textarea {
    margin: -14px 0px 20px;
    vertical-align: text-top;
    padding-bottom: 0px;
}
#step-add {
    margin-top: -15px;
    margin-left: 40px;
}
button[type=button] {
    border-radius: 50%;
    border: 2px solid #7700ff;
    color: #7700ffcc;
    width: 40px;
    height: 40px;
    display: grid;
    font-size: 1.6rem;
    background-color: transparent;
}