
.container {
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 0 auto;
    padding: 0 60px;

    @media screen and (max-width: 800px) {
        padding: 100px 0px 100px;
        font-size: 1rem;
    }

    .article {
        grid-column: 2/3;
        padding-top: 50vh;
        width: 50vw;

        @media screen and (max-width: 950px) {
            padding-top: 60px;
        }
    }
}
