.container {
    padding: 70px 20px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;


    &>.tag {
        padding: 40px;
        border: 4px dashed grey;
        border-radius: 4px;
    }
}
