:root {
    --background: #141617;
    --card: #242627;
    --text: #eee;
    --accent: #c19ae0;
    // --accent: #F68080;
    --accent-alt: #ffa4a4;
    // --accent-alt: #8080F6;


    // --background: #fff;
    // // --background: #191D2A;
    // --card: #fff;
    // --text: #000;
    // --accent: rgb(156, 84, 214);
    // // --accent: #F68080;
    // --accent-alt: #ffa4a4;
}

