@font-face {
    font-family: 'Hyperwave';
    src: url('../../../assets/fonts/Hyperwave-Two.ttf');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../../../assets/fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 800;
    src: url('../../../assets/fonts/Poppins-ExtraBold.ttf');
}

@font-face {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	src: url("../../../assets/fonts/fontawesome.woff2");
}

@font-face {
	font-family: Mfizz;
	src: url("../../../assets/fonts/mfixx.woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Devicons;
	src: url("../../../assets/fonts/devopicons.woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: file-icons;
	src: url("../../../assets/fonts/file-icons.woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: octicons;
	src: url("../../../assets/fonts/octicons.woff2");
	font-weight: normal;
	font-style: normal;
}
