.md-renderer{
    img {
        width: 100%;
    }

    ol > a, ul > a{
        text-decoration: none;
    }
    li {
        margin: 5px 0px;
        padding: 5px 0px;
        span {
            color: var(--accent);
            transition: color 500ms;
        }
        &:hover > span{
            color: var(--accent-alt);
        }
    }

    .italicize{
        font-style: italic;
        font-size: 1.1rem;
    }
    .md-render--table{
        max-width: 100%;
        overflow-y: scroll; 
    }

    .md-render--inline-code{
        background-color: #292D3E;
        color: white;
        padding: 0px 5px;
        border-radius: 4px;
        font-size: 0.9rem;
        margin: 2px 2px;
    }

    .md-render--code {
        margin: 20px 0 20px 0;
        border-radius: 8px;
        background-color: var(--bg-code);
        overflow: hidden;
        .title-bar {
            display: grid;
            grid-template-columns: 100px 1fr;
            h3 {
                font-size: 1rem;
                font-family: 'Source Sans Pro', sans-serif;
                padding-top: 13px;
                font-weight: bold;
                color: white;
            }
        }
        .code-mirror--wrapper {
            padding: 0px 10px 20px 10px;
        }
    }
}