.home--wrapper {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-primary);
    display: grid;
    transition: background-color 500ms;
    a.cta--btn {
        place-self: center;
        font-size: 2rem;
        text-decoration: none;
        border: 4px solid var(--text-primary);
        padding: 30px 40px 30px 55px;
        letter-spacing: 15px;
        transition: border-color 250ms, color 250ms;
        &:hover {
            color: var(--accent);
            border-color: var(--accent);
        }
    }
}