body {
  margin: 0;
  background-color: #151515;
  font-family: 'Rubik', sans-serif;
}

input[type=text], input[type=password] {
  box-sizing: border-box;
  padding: 10px 5px;
  width: 100%;
  border: none;
  font-size: 1.3em;
  background-color: transparent;
  color: white;
  border-bottom: 2px solid #7700ff;
}

.page { 
  width: 100%;
}