body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

a {
  color: black;
}

input[type=text], textarea {
  box-sizing: border-box;
  padding: 10px 5px;
  width: 100%;
  border: none;
  font-size: 1.3em;
  border-bottom: 2px solid #7700ff;
  font-family: 'Rubik', sans-serif;
}
input {
  font-size: 1.3em;
}
textarea {
  resize: vertical;
}

.page { 
  width: 100%;
}