.lesson-wrapper {
    user-select: text;
    padding-top: 180px;
    @media screen and (max-width: 800px) {
        padding-top: 80px;        
    }
    article {
        p {
            font-family: 'Nunito', sans-serif;
            margin: 20px 0px;
            line-height: 1.8em;
        }
        table {
            border: 1px solid var(--accent);
            width: 100%;
            border-radius: 4px;
            font-family: 'Nunito', sans-serif;
            tr {
                padding: 20px 50px;
                td, th {
                    padding: 15px 20px;
                    text-align: left;
                    border-left: 1px solid var(--accent);
                }
                tbody {
                    padding-top: 400px;
                }
                th {
                    border-bottom: 1px solid var(--accent);
                    font-weight: bold;
                }
            }
        }
    }
}
