:root {
    --table-color: rgb(204, 143, 255);
}

.lesson-wrapper {
    display: grid;
    padding: 100px 0px 200px;
    font-size: 1.3rem;
    user-select: text;
    main {
        place-self: center;
        max-width: 950px;
        width: calc(100vw - 80px);
        @media screen and (max-width: 800px){
            width: calc(100vw - 40px);
        }
        p {
            font-family: 'Nunito', sans-serif;
            margin: 20px 0px;
        }
        table {
            border: 1px solid var(--table-color);
            width: 100%;
            border-radius: 4px;
            font-family: 'Nunito', sans-serif;
            tr {
                padding: 20px 50px;
                td, th {
                    padding: 15px 20px;
                    text-align: left;
                    border-left: 1px solid var(--table-color);
                }
                tbody{
                    padding-top: 400px;
                }
                th {
                    border-bottom: 1px solid var(--table-color);
                    font-weight: bold;
                }
            }
        }
    }
}
