.file-structure--display {
    white-space: pre-wrap;
    font-family: "Source Sans Pro";
    background-color: var(--bg-code);
    padding: 20px;
    border-radius: 8px;
    color: white;
    line-height: 1.21em;

    h3 {
        color: var(--accent);
        padding: 5px 5px 20px;
        font-weight: bold;
    }
}
