.article-list--wrapper {
    display: grid;
    padding: 150px 0px 200px;
    font-size: 1.3rem;
    user-select: text;
    main {
        place-self: center;
        max-width: 950px;
        width: calc(100vw - 80px);
        h1 {
            font-size: 5rem;
            font-weight: bold;
            color: var(--accent);
        }
        .list {
            padding: 80px 0px;
            display: grid;
            row-gap: 40px;
            & > .item {
                box-sizing: border-box;
                background-color: var(--bg-secondary);
                display: grid;
                row-gap: 20px;
                grid-template-rows: auto auto;
                width: 100%;
                text-decoration: none;
                padding: 40px;
                border-radius: 4px;
                transition: color 500ms, background-color 500ms;
                &:hover {
                    & > h2 {
                        color: inherit;
                    } 
                }
                & > h2 {
                    color: white;
                    font-size: 2rem;
                    font-weight: bold;
                    transition: color 400ms;
                }
                & > p {
                    color: var(--text-primary);
                    font-size: 1.3rem;
                    line-height: 2rem;
                    transition: color 500ms;
                    font-family: 'Nunito';
                }
            }

        }
    }
}