:root{
    --animation-time: 5000ms;
    --animation-quick: 5000ms;
}

.fade-left-enter {
    opacity: 0;
    transform: translateX(-10px);
}
.fade-left-enter-active {
    opacity: 1;
    transform: translateX(0px);
    transition: opacity var(--animation-time), transform var(--animation-time);
}
.fade-left-exit {
    transform: translateX(0px);
    opacity: 1;
}
.fade-left-exit-active {
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity var(--animation-time), transform var(--animation-time);
}

.fade-quick-enter {
    opacity: 0;
}
.fade-quick-exit {
    opacity: 1;
}
.fade-quick-enter-active {
    opacity: 1;
}
.fade-quick-exit-active {
    opacity: 0;
}
.fade-quick-enter-active,
.fade-quick-exit-active{
    transition: opacity var(--animation-quick);
}


.slide-enter,
.slide-exit {
  transition: opacity 350ms ease-out;
}

.slide-enter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}

.slide-enter.slide-enter-active {
    opacity: 1;
}

.slide-exit {

  opacity: 1;
}

.slide-exit-active {
    opacity: 0;
}