body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    transition: color 500ms, background-color 500ms;
}
a:visited{
    color: var(--text-primary);
}
a:hover{
    color: grey;
}